.logo,
.navbar,
.user-header,
.sidebar-toggle,
.main-footer,
.bg-marine {
    background-color: #222d32!important;
    color: white;
}

label.error {
    color: red !important;
}

.box {
    border-top-color: #44535a;
}

.logo-lg-pefix,
.logo-mini-pefix {
    color: #367fa9;
}

thead,
tfoot {
    background-color: #222d32;
    color: white;
    text-transform: uppercase;
}

th,
td {
    text-align: center;
}

.btn {
    text-transform: uppercase;
    font-weight: bold;
}

input[type='radio'] {
    transform: scale(1.8);
    margin: 0.5em;
}

.alert-warning {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#edb55c), to(#e08e0b));
}